.image{
margin-left:120px;
max-width:100%;
height:350px;

}
.container{
}

p{
padding-top:40px;
padding-left:120px;}

h1{
margin-left:9%;
padding-top:25px;
margin-bottom:-15px;
}

#price {
font-size: 18px;
text-transform: uppercase;
padding-top: -10px;
margin-right:10px;
}

h3{
margin-top:-420px;
margin-left:600px;
}

.description{
margin-top:20px;
}

.cancel-button{
margin-top:350px;
margin-left:100px;}

#buy-button{
margin-top:350px;
margin-left:100px;}

#buy-button:hover{
background: #D77CEE;
}