<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Корзина</title>

    <link rel="stylesheet"
          th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>

<div layout:fragment="content">
    <div th:if="${items.empty}">
        <div style="text-align:center;margin-top:150px;">
            У ВАС ПОКА НЕТ ТОВАРОВ
        </div>
    </div>
    <div th:if="${!items.empty}">
    <div class="grid-container-shop">
        <ul class="ul-free" th:each="item : ${items}">
            <li th:text="${item.name}"> </li>
            <li th:text="${item.price}"> </li>
        </ul>
        <br/>
        <p>СУММА</p>
        <p th:text="${total}"> </p>
    </div>
        <a th:href="@{'/adding/'+${person.id}+'/null'}"  id="clean">
            Очистить корзину
        </a>
    </div>
</div>

</body>
</html>