<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Добавить товар</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <form id="itemsForm" runat="server" enctype="multipart/form-data"
              th:action="@{/form}"
              th:object="${item}"
              action="#"
              method="post">
            <div th:if="${#fields.hasErrors('*')}"
                 class="alert alert-error">
                <p th:each="error : ${#fields.errors('*')}"
                   th:text="${error}">
                    Validation error
                </p>
            </div>
            <div class="grid-container">
                <div class="grid-element">
                    <div class="image-wrapper">
                        <div>
                            <img src="../static/images/no-image.png" th:src="@{../images/no-image.png}" id="imageForm"  style="margin-left:125px;max-width:100%;height:200px;"/>
                            <p id="text-upload" onclick="document.getElementById('upload').click()">Загрузить
                                изображение</p>
                            <input id="upload" name="file" type="file" class="form-control-file"/>
                        </div>
                    </div>
                    <div class="price">
                        <label for="price">Цена</label>
                        <input type="number" min="0"
                               th:field="*{price}"
                               th:class="${#fields.hasErrors('name')} ? 'field-error'"/>
                    </div>
                </div>
                <div class="grid-element">
                    <h3>НАЗВАНИЕ ТОВАРА</h3>
                    <input th:required="required" id="name" type="text"
                           th:field="*{name}"
                           th:class="${#fields.hasErrors('name')} ? 'field-error'"/>
                    <h3>ОПИСАНИЕ ТОВАРА</h3>
                    <textarea id="description"
                              th:field="*{description}"
                              th:class="${#fields.hasErrors('description')} ? 'field-error'"></textarea>
                    <div class="form-actions">
                        <div class="buttons"><a href="list.html" th:href="@{/shop/}+${person.id}">
                            <div class="cancel-button">Отмена</div>
                        </a>
                            <div><input type="submit" id="save-button" value="Сохранить"/></div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="text" id="invisible" th:field="*{sellerId}"/>
        </form>
    </div>
</div>
</body>
</html>