<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <title>Регистрация</title>

    <link rel="stylesheet"
          th:href="@{/css/login.css}"
          href="../../css/login.css"/>

</head>

<body>
<h1 style="text-align:center;">ВОЙДИТЕ В СИСТЕМУ</h1>
<div class="alert alert-success"
     th:if="${globalMessage}"
     th:text="${globalMessage}">
    Some Success registration
</div>
<div class="main-block">
    <ul>
        <li><a id="log" class="no-links">ВОЙТИ</a></li>
        <li><a id="enter" class="no-links">ЗАРЕГИСТРИРОВАТЬСЯ</a></li>
    </ul>
    <form id="sign-up" th:object="${person}" th:action="@{/login}" method="post">



        <input th:required="required" type="text" placeholder="введите имя"
               th:field="*{firstName}"
               th:class="${#fields.hasErrors('firstName')} ? 'field-error'"/>
        <br/>
        <input th:required="required" type="email" placeholder="введите email"
               th:field="*{email}"
               th:class="${#fields.hasErrors('email')} ? 'field-error'"/>
        <br/>
        <input th:required="required" type="tel"
               placeholder="введите номер телефона"
               th:field="*{phone}"
               th:class="${#fields.hasErrors('phone')} ? 'field-error'"/>
        <br/>
        <input th:required="required" type="password" placeholder="введите пароль"
               th:field="*{password}"
               th:class="${#fields.hasErrors('password')} ? 'field-error'"/>

        <br/>
        <input id="invisible" type="text" th:field="*{isSeller}"/>
        <input id="seller" type="checkbox"/> продавец


        <div class="form-actions">
            <div><input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ"/></div>
        </div>
    </form>

    <form th:required="required" id="sign-in" th:object="${person}" th:action="@{/login}" method="post">
        <input type="email" placeholder="введите email"
               th:field="*{email}"
               th:class="${#fields.hasErrors('email')} ? 'field-error'"/>
        <br/>
        <input th:required="required" type="password"  placeholder="введите пароль"
               th:field="*{password}"
               th:class="${#fields.hasErrors('password')} ? 'field-error'"/>

        <br/>


        <div class="form-actions">
            <div><input type="submit" value="ВОЙТИ"/></div>
        </div>
    </form>

</div>
</body>

<script>
    document.getElementById("enter").onclick=function(){

        document.getElementById("sign-in").style.display="none";
        document.getElementById("sign-up").style.display="block";
    }

    document.getElementById("log").onclick=function(){
        document.getElementById("sign-in").style.display="block";
        document.getElementById("sign-up").style.display="none";
    }

    document.getElementById("invisible").value=false;

    document.getElementById("seller").onchange=function(){
    if (document.getElementById("seller").checked ){
    document.getElementById("invisible").value=true;
    }
    else{
    document.getElementById("invisible").value=false;
    }
    }

</script>

</html>