<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Просмотр</title>
  <link rel="stylesheet"
        th:href="@{/css/view.css}"
        href="../../css/view.css"/>
</head>
<body>
<div layout:fragment="content"
     class="container">
  <h1 layout:fragment="header" th:text="${item.name}" > </h1>


  <div class="container">
    <div class="element">
      <div class="image-wrapper">
        <div>
          <img class="image" th:src="@{${'/images/' + item.image}}" id="imageForm" />
          <p th:text="'Продавец '+${sellerName}" ></p>
        </div>
      </div>
      <div class="price">
        <label for="price" th:text="${'Цена: '+item.price}"></label>

      </div>
    </div>

    <h3 >Общие характеристики:</h3>
    <div th:if="${item.description==''}">
      <h3 class="description">Продавец ничего не указал</h3>
    </div>
    <h3 class="description" th:text="${item.description}"></h3>


    <div class="form-actions">
      <div class="buttons"><a href="list.html" th:href="@{/shop/}+${person.id}">
        <div id="cancel-button" >НАЗАД</div>
      </a>
      </div>
    </div>
  </div>



</div>
</body>
</html>